# Application under test - URLs
UI_BASE_URL=http://automationintesting.online
API_BASE_URL=https://restful-booker.herokuapp.com

# restful-booker admin credentials
API_ADMIN_USERNAME=admin
API_ADMIN_PASSWORD=password123

# automatoinintesting.online admin panel credentials
UI_ADMIN_USERNAME=admin
UI_ADMIN_PASSWORD=password